# Node
node_modules/
dist/

# Env config
.env

# Prisma
.prisma/
dev.db
*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code / Editor
.vscode/
*.log

# OS junk
.DS_Store
Thumbs.db

# React frontend (when built)
frontend/node_modules/
frontend/dist/
