@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-brand {
    @apply text-[#D1D5DB] font-hacker text-2xl; /* Example: violet-500 */
  }
  .text-brand-secondary {
    @apply text-[#D1D5DB] font-hacker text-xl; /* Example: violet-500 */
  }
  .text-brand-header {
    @apply text-[#D1D5DB] font-hacker text-4xl; /* Example: violet-500 */
  }
  .text-brand-secondary-header {
    @apply text-[#D1D5DB] font-hacker text-3xl; /* Example: violet-500 */
  }
  .bg-brand {
    @apply bg-[#48494b];
  }
  .bg-brand-secondary {
    @apply bg-[#3B3C3E];
  }
  .autofill-fix:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #48494b inset !important;
    -webkit-text-fill-color: #D1D5DB !important;
    font-family: 'VT323', monospace !important;
    caret-color: #D1D5DB !important;
  }
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}